.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(19, 19, 19, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.close_button {
    /*position: relative ;*/
    display:flex;
    padding-right: 50px;
    padding-top: 40px;
    cursor: pointer;
}
.modal_content {
    border-radius: 12px;
    background-color: rgb(28, 28, 33);
    height: 540px;
    width: 700px;
    z-index: 1000;
    color: #FFFFFF;

    display: flex;
    flex-direction:column;
    align-items: center;
}

.modal_content_caption {
    /*border: 4px double blue;*/
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.modal_content_caption span {
    padding-left: 40px;
    padding-top: 40px;
    position: relative;
    float: left;
}

.order_details {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}
