.main_columns {
    border: 4px double lightgreen;

    display: flex;
    flex-direction: row;
    justify-content:center;

    padding: 16px 20px;

}
.main_rect {
    border: 4px double yellow;
    position: absolute;
    left: 2%;
    right: 2%;
    top: 2%;
    bottom: 2%;
}
