body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* изврат, не знаю как иначе? */
.menuText { /* Не знаю как вписать стиль в span className (src/components/app-header/app-header.jsx:21), подскажите, пжл */
    margin-left: 8px !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
}
.portal_header {
    padding-left: 40px !important;
    padding-top: 40px !important;
    position: relative !important;
    float: left !important;
}
