
.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(255,255,255, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /*transform: scale(0);*/
}
.modal.active {
    background-color: blue;
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    height: 200px;
    width: 200px;
    z-index: 1000;
    /*transform: scale(1);*/
}